<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head ('Rejestracja')"></head>
<body>
<div th:insert="fragments/header :: header ('Rejestracja')"></div>
<h1>Formularz rejestracji</h1>
<form th:action="@{/registration}" th:object="${form}" method="post">
  <div th:insert="fragments/form-field :: formField ('Imię', 'firstName', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('Nazwisko', 'lastName', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('E-mail', 'email', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('Hasło', 'password', 'password')"></div>
  <div th:insert="fragments/form-field :: formField ('Powtórz hasło', 'repeatedPassword', 'password')"></div>
  <input type="submit" value="Zarejestruj się">
</form>
</body>
</html>