<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header (title)">
  <h1 th:text="${title}"></h1>

  <div th:if="${user == null}">
    <a th:href="@{/login}">Zaloguj się</a>
    <a th:href="@{/registration}">Zarejestruj się</a>
  </div>

  <div th:if="${user != null}">
    <a th:href="@{/user/my-account}">Moje konto</a>
    <a th:href="@{/auctions}">Aukcje</a>
    <div th:text="${'Zalogowany jako ' + user.email}"></div>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Wyloguj się">
    </form>
  </div>
</div>