<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head ('Dodaj kartę kredytową')"></head>
<body>
<div th:insert="fragments/header :: header ('Dodaj kartę kredytową')"></div>
<form th:action="@{/user/my-account/credit-card/add}" th:object="${form}" method="post">
    <div th:insert="fragments/form-field :: formField ('Numer', 'number', 'text')"></div>
    <div th:insert="fragments/form-field :: formField ('CVV', 'cvv', 'text')"></div>
    <div th:insert="fragments/form-field :: formField ('Data ważności', 'expireDate', 'text')"></div>
    <input type="submit" value="Wyślij">
</form>
</body>
</html>