<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head ('Dodaj adres')"></head>
<body>
<div th:insert="fragments/header :: header ('Dodaj adres')"></div>
<form th:action="@{/user/my-account/address/add}" th:object="${form}" method="post">
  <div th:insert="fragments/form-field :: formField ('Ulica', 'street', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('Kod pocztowy', 'zipcode', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('Miasto', 'city', 'text')"></div>
  <input type="submit" value="Wyślij">
</form>
</body>
</html>