<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head ('Dodaj konto bankowe')"></head>
<body>
<div th:insert="fragments/header :: header ('Dodaj konto bankowe')"></div>
<form th:action="@{/user/my-account/bank-account/add}" th:object="${form}" method="post">
    <div th:insert="fragments/form-field :: formField ('Nazwa banku', 'bankName', 'text')"></div>
    <div th:insert="fragments/form-field :: formField ('SWIFT', 'swiftCode', 'text')"></div>
    <div th:insert="fragments/form-field :: formField ('IBAN', 'iban', 'text')"></div>
    <input type="submit" value="Wyślij">
</form>
</body>
</html>