<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head ('Edytuj kartę kredytową')"></head>
<body>
<div th:insert="fragments/header :: header ('Edytuj kartę kredytową')"></div>
<form th:action="@{/user/my-account/credit-card/edit}" th:object="${form}" method="post">
  <input type="hidden" th:field="*{id}">
  <div th:insert="fragments/form-field :: formField ('Numer', 'number', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('CVV', 'cvv', 'text')"></div>
  <div th:insert="fragments/form-field :: formField ('Data ważności', 'expireDate', 'text')"></div>
  <input type="submit" value="Wyślij">
</form>
</body>
</html>