<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edytuj adres</h1>
<form th:action="@{/user/my-account/address/}" th:object="${form}" method="post">
    <input type="hidden" th:field="*{id}">
    <div th:insert="fragments/form-field :: formField ('Ulica', 'street')"></div>
    <div th:insert="fragments/form-field :: formField ('Kod pocztowy', 'zipcode')"></div>
    <div th:insert="fragments/form-field :: formField ('Miasto', 'city')"></div>
    <input type="submit" value="Wyślij">
</form>

</body>
</html>