<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head ('Moje konto')"></head>
<body>
<div th:insert="fragments/header :: header ('Moje konto')"></div>

<h1>Adresy</h1>
<ul th:each="address: ${addresses}">
  <li>
    <span th:text="${address.street + ', ' + address.zipcode + ' ' + address.city}"></span>
    <a th:href="@{'/user/my-account/address/' + ${address.id} + '/edit'}">Edycja</a>
    <a th:href="@{'/user/my-account/address/' + ${address.id} + '/delete'}">Usun</a>
  </li>
</ul>
<a th:href="@{/user/my-account/address/add}">Dodaj</a>

<h1>Konta bankowe</h1>
<ul th:each="bankAccount: ${bankAccounts}">
  <li>
    <span th:text="${bankAccount.bankName + ', nr konta: ' + bankAccount.iban}"></span>
    <a th:href="@{'/user/my-account/bank-account/' + ${bankAccount.id} + '/edit'}">Edycja</a>
    <a th:href="@{'/user/my-account/bank-account/' + ${bankAccount.id} + '/delete'}">Usun</a>
  </li>
</ul>
<a th:href="@{/user/my-account/bank-account/add}">Dodaj</a>

<h1>Karty kredytowe</h1>
<ul th:each="creditCard: ${creditCards}">
  <li>
    <span th:text="${'Numer: ' + creditCard.number}"></span>
    <a th:href="@{'/user/my-account/credit-card/' + ${creditCard.id} + '/edit'}">Edycja</a>
    <a th:href="@{'/user/my-account/credit-card/' + ${creditCard.id} + '/delete'}">Usun</a>
  </li>
</ul>
<a th:href="@{/user/my-account/credit-card/add}">Dodaj</a>

</body>
</html>