<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
</head>
<body>
<!--
TODO ostylowac
-->

<ul th:each="address: ${addresses}">
    <li th:text="${address.street + ', ' + address.zipcode + ' ' + address.city}"></li>
    <li><a th:href="@{'/user/my-account/address/' + ${address.id} + '/edit'}">Edycja</a></li>
    <li><a th:href="@{'/user/my-account/address/' + ${address.id} + '/delete'}">Usun</a></li>
</ul>

<ul th:each="bankAccount: ${bankAccounts}">
    <li th:text="${bankAccount.bankName + ', nr konta: ' + bankAccount.iban}"></li>
    <li><a th:href="@{'/user/my-account/bank-account/' + ${bankAccount.id} + '/edit'}">Edycja</a></li>
    <li><a th:href="@{'/user/my-account/bank-account/' + ${bankAccount.id} + '/delete'}">Usun</a></li>
</ul>

<ul th:each="creditCard: ${creditCards}">
    <li th:text="${'Number: ' + creditCard.number}"></li>
    <li><a th:href="@{'/user/my-account/credit-card/' + ${creditCard.id} + '/edit'}">Edycja</a></li>
    <li><a th:href="@{'/user/my-account/credit-card/' + ${creditCard.id} + '/delete'}">Usun</a></li>
</ul>
</body>
</html>